<!-- <%= image_tag("charts/test2.png", :alt => "Image missing") %> -->
<div id="form-container" class="col-md-10 col-md-offset-1">
	<div id="title-box">Bragi - Sistema de Coleta de Dados</div>
	
	<div class="row">
		<div class="col-md-6">			
			<%= image_tag("charts/barra_agencias.png", :alt => "Image missing") %>
		</div>
		<div class="col-md-6"><%= image_tag("charts/pizza_urnas.png", :alt => "Image missing") %></div>
	</div>
	<div class="row">
		<div class="col-md-6"><%= image_tag("charts/linha_velorio.png",  :alt => "Image missing") %></div>
		<div class="col-md-6"><%= image_tag("charts/barra_agencias.png",  :alt => "Image missing") %></div>
	</div>

</div>

