<div id="form-container" class="col-md-10 col-md-offset-1">
					<div id="title-box">Sistema de Coleta de Dados</div>
<div class="row">
	
	<table>
  <tr>
    <th>Nº da Nota de Contratação </th>
    <th>Agência</th>
    <th>Modelo da Urna</th>
    <th>Nome do Falecido</th>
    <th>Local de Falecimento</th>
    <th>Local de Velório</th>
    <th>Local de Sepultamento/Cremação</th>
    <th>Convênio?</th>
  </tr>
 
  <% @gather.each do |g| %>
    <tr>
      <td><%= g.ncf %></td>
      <td><%= g.agency.name %></td>
      <td><%= g.coffin.name %></td>
      <td><%= g.deceased %></td>
      <td><%= g.placeofdeath.name %></td>
      <td><%= g.funeral.name %></td>
      <td><%= g.cemetery.name %></td>
      <td><%= g.healthcare %></td>
  <% end %>
</table>
		
</div>
</div>