<div id="form-container" class="col-md-10 col-md-offset-1">
					<div id="title-box">Bragi - Sistema de Coleta de Dados</div>
<div class="row">
	
	<table>
  <tr>
    <th>Horário da Criação</th>
    <th>Nº da Nota de Contratação </th>
    <th>Agência</th>
    <th>Modelo da Urna</th>
    <th>Nome do Falecido</th>
    <th>Local de Falecimento</th>
    <th>Local de Velório</th>
    <th>Local de Sepultamento/Cremação</th>
    <th>Tem Convênio?</th>
  </tr>
 
  <% @gather.each do |g| %>
    <tr>
      <td><%= g.created_at.to_s.chomp(' -0300') %></td>
      <td><%= g.ncf %></td>
      <td><%= g.agency.name %></td>
      <td><%= g.coffin.try(:name) %></td>
      <td><%= g.deceased %></td>
      <td><%= g.placeofdeath.try(:name) %></td>
      <td><%= g.funeral.try(:name) %></td>
      <td><%= g.cemetery.try(:name) %></td>
      <td><%= g.namehc unless g.healthcare == "Não" %></td>
  <% end %>
</table>
		
</div>
</div>